@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(158, 16, 16, 0.95);
  --spacing: 100px;
  --red--bg:var(10,255,243);
  font-family:"Times New Roman", Times, serif;
  font-weight: 250;
  font-style: italic;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-style: italic;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}
  header {
    grid-column: 8 / span 5;
    font-size: 2.5rem;
    padding: -1px;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: #ffc0cb17;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }
  section.derecha {
    grid-column: 9 / span 9;
    padding: 1rem;
    background: #ffc0cb17;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }
  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 9 / span 9;
    margin-bottom: var(--spacing);
    font-size: 1.25rem;
    line-height: 1.5;
  }

  blockquote p {
    color: black;
    background-color: rgba(255, 255, 255, 0.068);
    font-style: italic;
    display: inline;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .left {
    grid-column: 6 / 12;
  }
  #filo{
    background-color: rgb(0, 0, 0);
  }

  .footer {
    grid-column: 9 / span 9;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(3, 3, 3);
    color: white;
    text-align: center;
  }